
<style>
	h1 {color:#7A991A;}
	h2 {color:#55A4F2;}
	h5 {color:#F2A355;text-align: right;}
</style>
</head>

<br />

<h1><b>Website Requeriments</b></h1>
<hr width="100%" align="left">
<p>Create a Web application with the following requirements: <br />
1. CRUD operations for <b>Teachers</b> (id, full name, email address)<br />
2. CRUD operations for <b>Courses</b> (id, code, name), they will be related to on Teacher<br />
3. CRUD operations for <b>Tests</b>, these are small tests, like quices, they will be associated to one Course.(id, course_id, name, description, date )<br />
4. CRUD operations for <b>Questions</b>, one quiz will have one or more questions (id, quiz_id, question, description)<br />
5. Take answers, users should be able to navigate to an URL, like http://localhost:3000/take_quiz/1, where the 1 is the id of the quiz, the app will show a field where the user should put their name and the list of questions and give them the possibility to answer them, on submit it will store the responses and the name of the user on database table like: (id, quiz_id, user_name, question_id, response)<br />
6. Teacher should be able to see the responses for each quiz.<br />
</p>

<br />
<h2><b>Challenge Status and Accomplishment Report</b></h2>
<hr width="100%" align="left">
<p> This is what I got:<br />
1. CRUD operations for Teachers (id, full name, email address) - <b>Completed</b><br />
2. CRUD operations for Courses (id, code, name), they will be related to on Teacher -  <b>Completed</b><br />
3. CRUD operations for Tests, these are small tests, like quizes, they will be associated to one Course.(id, course_id, name, description, date ) -  <b>Completed</b><br />
4. CRUD operations for Questions, one quiz will have one or more questions (id, quiz_id, question, description ) -  <b>Completed</b><br />
5.- Users can go to <b>http://localhost:3000/take_quiz/</b> and pick one test or go directly to http://localhost:3000/take_quiz/1 if you want to take test no 1. - <b>Completed</b><br /> 
6.- Teachers can go to <b>http://localhost:3000/test_reviews/</b> and make a test review by test. - <b>Completed</b><br />
</p>

<h5><b>Designed By m_chavez</b></h5>
<hr width="100%" align="left">