/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require jquery.ui.core
 *= require jquery.ui.theme
 *= require dataTables/src/demo_table_jui
 *= require_tree . 
 */

/*

Orange:			EE872A
Green:			8AC007
Lightgreen:		e5eecc
Blue:			40B3DF
DarkGreyBg:		555555
LightGreyBg:	F6F4F0
GreyBorder:		D4D4D4
Pink:			B4009E
*/

html{overflow-y:scroll;}

body{
font-size:12px;
color:#000000;
background-color:#F6F4F0;
margin:10px;
padding-left:1%;
}

p,td,ul{
line-height:140%;
}

body,p,h1,h2,h3,h4,table,td,th,ul,ol,textarea,input{
font-family:verdana,helvetica,arial,sans-serif;
}

iframe 	{margin:0px;}
div 	{width:100%;}
img		{border:0;}

table,th,td,input,textarea{
font-size:100%;
}

h1 {font-size:210%;margin-top:0px;font-weight:normal}
h2 {font-size:180%;margin-top:10px;margin-bottom:10px;font-weight:normal}
h3 {font-size:120%;font-weight:normal}
h4 {font-size:100%;}
h5 {font-size:90%;}
h6 {font-size:80%;}

h1,h2,h3,h4,h5,h6{
background-color:transparent;
color:#000000;
}

pre
{
font-family:"courier new";
font-size:110%;
margin-left:0;
margin-bottom:0;
}

hr
{
background-color:#d4d4d4;
color:#d4d4d4;
height:1px;
border:0px;
clear:both;
}

/*a:link,a:visited {color:#EE872A; background-color:transparent}*/
/*a:hover,a:active {color:#8AC007; background-color:transparent}*/

/*a:link,a:visited {color:#000000; background-color:transparent}*/
/*a:hover,a:active {color:#000000; background-color:transparent}*/


table.reference,table.tecspec{
	border-collapse:collapse;width:100%;
}

table.reference tr:nth-child(odd)	{background-color:#F6F4F0;}
table.reference tr:nth-child(even)	{background-color:#ffffff;}

table.reference tr.fixzebra			{background-color:#F6F4F0;}

table.reference th{
	color:#ffffff;background-color:#555555;border:1px solid #555555;font-size:12px;padding:3px;vertical-align:top;text-align:left;
}

table.reference th a:link,table.reference th a:visited{
	color:#ffffff;
}

table.reference th a:hover,table.reference th a:active{
	color:#EE872A;
}

table.reference td{
	border:1px solid #d4d4d4;padding:5px;padding-top:7px;padding-bottom:7px;vertical-align:top;
}

